@font-face {
    font-family: 'Infinity';
    src: url('../fonts/infinity.ttf?v=4.7.0') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* CONSTANT CSS STYLE */

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none; color: #000000;
}

/* FIN CONSTANT CSS STYLE */

/* HEADER */

header {
    display: flex !important; /* override bootstrap */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start; /* axe principal */
    align-items: center; /* axe secondaire */
    background-color: #3498db;
    padding: 0 20px;
    /*height: 100px;*/
}

header h1 {
    color: #FFFFFF;
    font-family: 'Infinity', 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    margin: 0px;
}

header span#spacing {
    flex-grow: 1;
    background-color: #01315a;
    margin: 0px;
}

header div {
    display: flex !important; /* override bootstrap */
}

header div i {
    color: #FFFFFF;
    align-self: center;
    margin: 0px;
}

/* FIN HEADER */

/* FORMULAIRE */

section#formulaire {
    margin: 15px 15px 0px 15px;
}

div#form {
    display: flex !important; /* override bootstrap */
}

div.field {
    display: flex;
    flex-direction: column;
    /*border: 1px solid #000000;*/
    background: #fff;
}

div.titleField {
    color: #FFFFFF;
    background-color: #000000;
}

div.titleField h2 {
    text-align: center;
    margin: 10px 0 10px 0;
    font-size: 16px;
}

div.field div.input-group {
    padding: 10px;
}

/* FIN FORMULAIRE */


/* PAGE CONTENT */

main.wrapper {
    margin: 15px 15px 0px 15px;
    display: flex !important; /* override bootstrap */
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start; /* axe secondaire */
}

nav {
    width: 135px;
    display: flex !important; /* override bootstrap */
    flex-direction: column;
    justify-content: space-around; /* axe principal */
    align-items: center; /* axe secondaire */
    height: 125px;

    border: 1px solid #3498db;
    background: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

nav > a i {
    color: #000000;
}

section div.title {
    color: #FFFFFF;
    background-color: #2ecc71;
}

section div.title h2 {
    font-size: 28px;
    margin: 10px 0 10px 10px;
}

section div.content {
    padding: 10px;
}

section.content {
    margin-left: 15px;
    display: flex;
    flex-direction: column;

    border: 1px solid #2ecc71;
    background: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

section.content footer {
    margin-top: auto;
    align-self: flex-end;
}

table.table {
    margin: 0px;
}

table.hide > * {
    display: none;
}

/* FIN PAGE CONTENT */

/* FOOTER */

footer {
    margin-top: auto;
    text-align: center;
    background-color: #3498db;
    height: 50px;
    display: flex !important; /* override bootstrap */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; /* axe principal */
    align-items: center; /* axe secondaire */
}

footer p {
    color: #FFFFFF;
    margin: 0px;
}

/* FOOTER */